@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

:root{

    --Dark-cyan : hsl(158, 36%, 37%);
    --Cream : hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Font-size-paragraph: 14px;
    --wheight1: 500;
    --wheight2: 700;

    --fontMonteserrat:  'Montserrat', sans-serif;
    --fontFraunces: 'Fraunces', serif;


}

body{
    background-color: var(--Cream);
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.card-content{
    background-color: var(--White);
    /* width: 950px; */
}

img{
    display: block;
    object-fit: cover;
    height: 52%;
    width: 400px;

}


.discription{
    padding: 30px 5px 10px 30px;
    width: 400px;
}


.genra{
    font-size: 18px;
    color: var(--Dark-grayish-blue);
    font-family: var(--fontMonteserrat);
    letter-spacing: 4px;
    font-weight: var(--wheight1);
    padding-bottom: 20px; 
}

.title{
    font-size: 40px;
    font-weight: var(--wheight2);
    font-family: var(--fontFraunces);
    color: var(--Very-dark-blue);
    width: 320px;
}


.paragraph{
    color: var(--Dark-grayish-blue);
    padding-top: 30px;
    padding-bottom: 20px;
}

.paragraph>p{
    font-size: 18px;
    font-family: var(--fontMonteserrat);
    font-weight: var(--wheight1); 
    line-height: 30px;
    width: 320px;
}

.price-text{
    color: var(--Dark-cyan);
    font-size: 35px;
    font-family: var(--fontFraunces);
    font-weight: var(--wheight2);
}

.price-text::after{
    position: absolute;
    content: "$169";
    font-size: 14px;
    padding-left: 20px;
    font-weight: 200;
    text-decoration: line-through;
    padding-top: 10px;
}

.price-text{
    padding-bottom: 20px;
}

.button{
    text-align: center;
    padding-top: 30px;
    
}

.button>a{
    display: block;
    width: 90%;
    /* font-size: 19px; */
    font-family: var(--fontMonteserrat);
    font-weight: var(--wheight2);
    color: var(--White);
    background-color: var(--Dark-cyan);
    outline: none;
    text-decoration: none;
    padding: 15px 20px ;
    border-radius: 10px;
}


.button>a:hover{
    background-color: hsl(159, 37%, 24%);
}




i{
    padding-right: 10px;
}

@media only screen and (max-width: 500px){
    .card-content{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 298px;
        min-width: 400px;
    }
    .button {
        margin-bottom: 20px;


    
}

